@font-face {
  font-family: 'raleway-grid';
  src: url("../fonts/RalewayRegular.woff") format("woff"); }

@font-face {
  font-family: 'raleway-grid';
  src: url("../fonts/RalewayBold.woff") format("woff");
  font-weight: bold; }

@font-face {
  font-family: 'raleway-grid';
  src: url("../fonts/RalewayExtraBold.woff") format("woff");
  font-weight: 800; }

@font-face {
  font-family: 'intro-grid';
  src: url("../fonts/IntroRegular.woff") format("woff"); }

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

html, body {
  height: 100%;
  color: #333; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.75;
  font-family: raleway-grid, sans-serif;
  overflow-x: hidden;
  opacity: 1;
  color: #333; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

.grid {
  display: grid; }

.main-header {
  min-height: 100vh;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  position: relative;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center; }
  .main-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #293A43;
    opacity: .92; }

.header-content {
  z-index: 1;
  color: #ffffff;
  text-align: center;
  padding: 60px 20px; }
  .header-content h1 {
    font-size: 60px;
    font-family: intro-grid, sans-serif;
    font-weight: normal;
    margin: 20px 0px;
    line-height: 1.5; }
  .header-content .button {
    margin: 10px; }

.button {
  display: inline-block;
  border: none;
  color: #fff;
  text-decoration: none;
  background-color: #F0650D;
  padding: 10px 45px;
  font-size: 20px;
  font-weight: 500;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  text-align: center;
  position: relative;
  outline: none;
  -webkit-transition: background-color .1s ease;
  -o-transition: background-color .1s ease;
  transition: background-color .1s ease;
  cursor: pointer; }
  .button::after {
    -webkit-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
    transition: background-color .2s ease;
    position: absolute;
    content: '';
    height: 4px;
    bottom: 0;
    width: 100%;
    background-color: black;
    opacity: .18;
    -webkit-border-bottom-left-radius: 2px;
            border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
            border-bottom-right-radius: 2px;
    left: 0; }
  .button:focus, .button:hover {
    text-decoration: none;
    color: #fff; }
  .button:hover {
    background-color: #f37423; }
    .button:hover::after {
      opacity: .22; }
  .button:active {
    background-color: #d85b0c; }
    .button:active::after {
      opacity: .32; }
  .button.button-gray {
    background-color: #4B5A65; }
    .button.button-gray::after {
      background-color: #2a3339; }
    .button.button-gray:hover {
      background-color: #566774; }
      .button.button-gray:hover::after {
        opacity: .22; }
    .button.button-gray:active {
      background-color: #404d56; }
      .button.button-gray:active::after {
        opacity: .32; }

.portfolio-section {
  padding: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px; }

.portfolio-item {
  min-height: 32vh;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  text-align: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  position: relative;
  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
  cursor: pointer; }
  .portfolio-item:hover {
    color: #F0650D; }
    .portfolio-item:hover::before {
      opacity: .85; }
  .portfolio-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #293A43;
    opacity: .65;
    -webkit-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease; }
  .portfolio-item > * {
    z-index: 1; }
  .portfolio-item:nth-child(1) {
    grid-column: 1/3; }
  .portfolio-item:nth-child(5) {
    grid-column: 2/4; }
  .portfolio-item:nth-child(6) {
    grid-column: 4;
    grid-row: 2/4; }

.buttoncase {
  grid-column: 1/5;
  padding: 20px 20px 50px; }

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px; }

.landing-section {
  padding: 80px 0; }
  .landing-section h2 {
    font-size: 34px;
    font-weight: 800;
    color: #293A43;
    line-height: 1.2; }

.section-ready {
  background-color: #EDEDED; }
  .section-ready .container {
    grid-template-columns: repeat(2, 1fr); }

.ready-left {
  border-right: 1px solid #DADADA;
  font-size: 18px;
  padding: 60px; }
  .ready-left h2 {
    margin-top: 0;
    margin-bottom: 40px; }

.ready-right {
  padding-left: 40px; }

.form-section {
  padding: 30px 0;
  background-color: #293A43; }
  .form-section input {
    background-color: #354a56; }

input, textarea {
  border: none;
  padding: 15px 20px;
  font-family: Arial, sans-serif;
  width: 100%;
  font-style: italic;
  outline: none;
  -webkit-transition: background-color .25 ease;
  -o-transition: background-color .25 ease;
  transition: background-color .25 ease; }
  input:focus, textarea:focus {
    background-color: #EDEDED; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #507182; }
  input::-moz-placeholder, textarea::-moz-placeholder {
    color: #507182; }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #507182; }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder {
    color: #507182; }
  input::placeholder, textarea::placeholder {
    color: #507182; }

form {
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr); }
  form .button {
    font-size: 17px;
    padding: 10px;
    width: 100%; }

.section-blog h2 {
  margin-top: 50px;
  margin-bottom: 50px; }

.blog-home {
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 100px; }

.blog-item {
  background-color: #F7F7F7;
  text-decoration: none;
  grid-template-rows: repeat(2, 1fr);
  -webkit-transition: background-color .25s ease;
  -o-transition: background-color .25s ease;
  transition: background-color .25s ease;
  overflow: hidden;
  color: #333; }
  .blog-item:nth-child(3) {
    grid-column: 3/5; }
  .blog-item:nth-child(4) {
    grid-column: 1/3; }
  .blog-item-img {
    height: 270px;
    -webkit-background-size: cover;
            background-size: cover;
    background-position: center;
    -webkit-transition: -webkit-transform .25s ease;
    transition: -webkit-transform .25s ease;
    -o-transition: transform .25s ease;
    transition: transform .25s ease;
    transition: transform .25s ease, -webkit-transform .25s ease; }
  .blog-item-content {
    padding: 25px;
    text-align: center;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center; }
  .blog-item:hover {
    background-color: #EDEDED; }
    .blog-item:hover h4 {
      color: #293A43; }
    .blog-item:hover .blog-item-img {
      -webkit-transform: scale(1.05) translateY(-6.5px);
          -ms-transform: scale(1.05) translateY(-6.5px);
              transform: scale(1.05) translateY(-6.5px); }
  .blog-item h4 {
    font-size: 18px;
    color: #666;
    line-height: 1.3;
    margin: 0;
    -webkit-transition: color .25s ease;
    -o-transition: color .25s ease;
    transition: color .25s ease; }
  .blog-item p {
    margin-top: 20px;
    margin-bottom: 0px; }

.main-footer {
  padding: 60px 0;
  background-color: #1a242a;
  text-align: center;
  color: #4E5355; }

.footer-logo {
  font-family: intro-grid, sans-serif;
  font-size: 22px;
  line-height: 1.16; }
  .footer-logo span {
    display: block;
    color: #707476;
    font-size: 23px; }

.footer-copy {
  font-size: 20px;
  font-weight: bold;
  color: #494D50;
  margin-top: 20px; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .blog-home {
    grid-template-columns: repeat(3, 1fr); }
  .blog-item:nth-child(3) {
    grid-column: 3/4; }
  .blog-item:nth-child(4) {
    grid-column: 1/2; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .button {
    font-size: 18px; }
  .buttoncase {
    grid-column: 1/4; }
  .header-content {
    padding: 40px 20px; }
    .header-content h1 {
      font-size: 50px;
      line-height: 1.3; }
  .portfolio-section {
    grid-template-columns: repeat(3, 1fr); }
  .portfolio-item {
    min-height: 40vh;
    font-size: 16px; }
    .portfolio-item:nth-child(4) {
      grid-column: 2/4; }
    .portfolio-item:nth-child(5) {
      grid-column: 1/3;
      grid-row: initial; }
    .portfolio-item:nth-child(6) {
      grid-column: initial;
      grid-row: initial; }
  .blog-home {
    grid-template-columns: repeat(2, 1fr); }
  .blog-item:nth-child(3) {
    grid-column: 1/2; }
  .blog-item:nth-child(4) {
    grid-column: 2/3; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .header-content {
    padding: 40px 20px; }
    .header-content h1 {
      font-size: 50px; }
  .landing-section {
    padding: 30px 0; }
    .landing-section h2 {
      text-align: center;
      font-size: 26px;
      margin-bottom: 20px; }
    .landing-section p {
      text-align: center; }
  .section-ready .container {
    grid-template-columns: 1fr; }
    .section-ready .container > div {
      padding: 0 8%; }
      .section-ready .container > div.ready-left {
        border: none; }
  .form-section form {
    grid-template-columns: repeat(2, 1fr); }
  .blog-home {
    grid-template-columns: 1fr; }
  .blog-item:nth-child(3) {
    grid-column: 1/2; }
  .blog-item:nth-child(4) {
    grid-column: 1/2; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .header-content h1 {
    font-size: 40px; }
  .portfolio-item {
    min-height: 50vh; }
    .portfolio-item:nth-child(1) {
      grid-column: initial; }
    .portfolio-item:nth-child(4) {
      grid-column: initial; }
    .portfolio-item:nth-child(5) {
      grid-column: initial; }
  .portfolio-section {
    grid-template-columns: 1fr; }
  .buttoncase {
    grid-column: 1/2; }
  .form-section form {
    grid-template-columns: 1fr; }
  .main-footer {
    padding: 40px 0; }
  .footer-copy {
    margin-top: 10px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
